<form class="form-horizontal">
    <p>
        This plugin looks out for the M950 command and uses it to toggle stirring on or off. It also provides a M951 command for pausing gcode processing. Set the axis and the stepper positions to move between below. The plugin will handle moving the stepper between these two positions continuously, waiting the set interval below between each forward and backward command.
    </p>
    <p>
      M950 S0                   - Turn stirrer off or on<br/>
      M950 S1                   - Turn stirrer on<br/>
      M951 S100                 - Pause octoprint print job for 100 seconds<br/>
      M951                      - Cancel previously issued wait (from OctoPrint Terminal only)<br/>
      M952 B38                  - Pause octoprint print job until "bed" temperature is over 38C for at least 9s<br/>
      M952 H38                  - Pause octoprint print job until "hotend" temperature is over 38C for at least 9s<br/>
      M952                      - Cancel previously issued temperature wait (from OctoPrint Terminal only)<br/>
      M953 STRING               - Send STRING to MQTT<br/>
      M954 STRING               - Send STRING to MQTT and wait for user<br/>
      M954                      - Cancel previously issued wait for user<br/>
      M955 S1 RENNET            - Release Rennet<br/>
      M955 S0 RENNET            - Unrelease Rennet<br/>
      M955 S1 CALCIUM_CHLORIDE  - Release Calcium Chloride<br/>
      M955 S0 CALCIUM_CHLORIDE  - Unrelease Calcium Chloride<br/>
      M955 S1 ANNATTO           - Release Annatto<br/>
      M955 S0 ANNATTO           - Unrelease Annatto<br/>
      M955 S1 CULTURE           - Release Culture<br/>
      M955 S0 CULTURE           - Unrelease Culture<br/>
    </p>
    <h4>Stir Stepper</h4>
    <div class="control-group">
        <label class="control-label">Stepper Axis</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.stepper">
            </div>
            <span class="help-inline">The axis the stirrer is attached to. X, Y, Z or E.</span>
        </div>
        <label class="control-label">Stepper Start</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.stepperStart">
                <span class="add-on">mm</span>
            </div>
            <span class="help-inline">The coordinate to start stirring from</span>
        </div>
        <label class="control-label">Stepper End</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.stepperEnd">
                <span class="add-on">mm</span>
            </div>
            <span class="help-inline">The coordinate to stir to</span>
        </div>
        <label class="control-label">Stirring Interval</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.interval">
                <span class="add-on">s</span>
            </div>
            <span class="help-inline">How long to wait after issuing move command before issuing the reverse move command</span>
        </div>
        <label class="control-label">Stirring Speed</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.stepperSpeed">
                <span class="add-on">mm/min</span>
            </div>
            <span class="help-inline">The speed to move the stirrer</span>
        </div>
        <label class="control-label">Rennet Servo</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.rennetServo">
            </div>
            <span class="help-inline">Servo number (starts at 0 index)</span>
        </div>
        <label class="control-label">Calcium Chloride Servo</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.calciumChlorideServo">
            </div>
            <span class="help-inline">Servo number (starts at 0 index)</span>
        </div>
        <label class="control-label">Annatto Servo</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.annattoServo">
            </div>
            <span class="help-inline">Servo number (starts at 0 index)</span>
        </div>
        <label class="control-label">Culture Servo</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="any" class="input-mini text-right" data-bind="value: settings.plugins.OctoCheese.cultureServo">
            </div>
            <span class="help-inline">Servo number (starts at 0 index)</span>
        </div>
    </div>
</form>
